bin/
dist/
webapp/src/manifest.ts
server/manifest.go

# Mac
.DS_Store

# Jetbrains
.idea/

# VS Code
.vscode

# env, cert, key, license
.env*
*.crt
*.key
*.license

# Plugin
*.tar.gz

# node
*.lock

# Processor
processor/temp

# Aider
.aider*
