.create-legal-hold-input {
    border: none !important;
}

.create-legal-hold-checkbox {
    float: left;
    width: 1em;
    height: 1em;
}

.create-legal-hold-checkbox-wrapper, .create-legal-hold-checkbox-wrapper:focus {
    border: 0px !important;
}

.create-legal-hold-container {
}
