name: ci
on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches:
      - main
    tags:
      - "v*"
  pull_request:

permissions:
  contents: read
  id-token: write

env:
  IS_CI: true

jobs:
  plugin-ci:
    uses: mattermost/actions-workflows/.github/workflows/plugin-ci.yml@main
    secrets: inherit
